@model IEnumerable<BnetworkManagement.Models.UserTransaction>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CryptoRequested)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CryptoDelivered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CryptoRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CryptoDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
